<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <turboFilter class="cn.fcgyl.common.MySQLLogFilter">
        <ShowCaller>true</ShowCaller>
        <HideFieldsInSelect>true</HideFieldsInSelect>
        <CallerPackageInclude>com.sunnyz</CallerPackageInclude>
    </turboFilter>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow([%date{yyyy-MM-dd HH:mm:ss.SSS}]) %highlight([%-5level]) %cyan([%thread]) %magenta(%X{footprint}) - %msg [%logger{1}] \(%file:%line\) %n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>